//color variables//
$cl-btn:#FF5B33;
$cl-txt:#83774b;
$cd-txt: #6300a0;
$cd-box: #fff;
$btn-width:#FFD433;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$btn-height:#FF69B4;
$cd-btn:#87CEFA;
$persp:#00FA9A;
$cd-on:#A0522D;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(66, 91, 32, 2);
$height: 130px;
$width:500px;
$color:black;
$padding: 10px;