//color variables//
$cl-btn:#FF5B33;
$cl-txt:#FFD433;
$cd-txt: #6300a0;
$cd-box: #fff;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-btn:#548626;
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(66, 91, 32, 2);